@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    background-image: url('./assets/bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 3px; /* Adjust the width as needed */
    height: 3px;
  }

  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the scrollbar track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orange; /* Color of the scrollbar handle */
    border-radius: 5px; /* Radius of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
  }